@charset 'UTF-8';

:root{
   --cor01: #a7a9d9;
   --cor02: #f2f2f2;
   --cor03: #5b5fa6;
   --cor04: #4146a6;
   --corDestaque: #f27f3d;
} 

@media only screen and (max-width: 1300px){

   .nav-bar-container{
      width: 90%;
   }

   .nav-bar-items{
      gap: 5px;
   }

   .nav-bar-login{
      padding-left: 10px;
   }

   .nav-bar-nav a, .nav-bar-login a{
      padding: 10px 10px;
   }
}

@media only screen and (max-width: 978px){

/*Nav-bar Responsiva*/
   header{
      display: flex;
      align-items: center;
   }

   .hamburger{
      display: block;
      cursor: pointer;
   }

   .hamburger .line{
      width: 30px;
      height: 3px;
      border-radius: 15px;
      background: var(--cor04);
      margin: 10px 0;
   }

   .nav-bar-items{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 0;
      position: absolute;
      top: 76px;
      left: 0;
      right: 0;
      width: 100%;
      background: #eee;
      transition: 350ms ease-in-out;
      overflow: hidden;
   }

   .nav-bar-items.active{
      height: 250px;
   }

   .nav-bar-login{
      display: none;
   }


   .nav-bar-nav{
      width: fit-content;
      height: 150px;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: 300ms ease-in-out;
      z-index: 3;
   }

   .nav-bar-nav.active{
      opacity: 1;
   }

   .nav-bar-items a{
      text-align: center;
      transition: 400ms;
   }

   #logo img{
      width: 200px;
   }

   /*Comercial 1 responsivo*/

   #comercial1{
      padding: 25px;
   }

   #comercial-container1{
      gap: 10px;
      height: 500px;
   }

   #comercial-text1{
      gap: 17.5px;
   }

   #comercial-text1 h1{
      font-size:2rem;
   }

   #comercial-text1 p{
      font-size: 1.65rem;
   }

   #institutional-card1{
      height: auto;
      max-width: 365px;
   }

   #saiba-mais{
      padding: 10px 28px;
   }
}

@media only screen and (max-width: 644px){
   #comercial-container1{
      flex-wrap: wrap;
      height: auto;
      gap: 20px;
   }

   #comercial-text1{
      width: 100%;
   }

   #institutional-card1{
      width: 100%;
      max-width: 550px;
      height: 600px;
      margin: 0 auto;
   }
}

@media only screen and (max-width: 378px){
   #institutional-card1{
      height: 400px;
   }
}